body{
    background-color: rgb(183, 204, 243);
    width:100%;
    margin:0;
    padding:0;
}
@keyframes anim {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(500px);
        trasnform:
    }

}
@keyframes animhello {
    0% {
        color:rgba(255, 255, 255, 0);
    }
    40%{
        color:rgba(255, 255, 255, 0);        
    }
    41%{
        color:rgb(255, 255, 255);        
    }  
    100% {
        color:rgb(255, 255, 255);
    }

}
.kitty{
    position:absolute;
    left:15%;
    top:-3%;
    margin:0px;
    padding:0px;
    animation:anim 7s;
    animation-fill-mode: forwards;
}

map area{
    outline:none;
    text-decoration: none;
    border:0;

}
.hello{
    color:rgba(255, 255, 255, 0);
    font-family: 'Kavivanar', cursive;
    position:absolute;
    margin:0px;
    padding:0px;
    right:50%;
    top:10%;
    font-size:50px;
    animation:animhello 3s;
    animation-fill-mode: forwards;
    
}
